// e.g.

// @mixin heading2 {
//     width: 100%;
//     font-size: 30px;
//     font-weight: 300;
// }

// then to use it:
// .join {
//     @include heading2;
// }

@mixin squarePhoto {
    width: 100%;
    position: relative;
    background-size: cover; // Manages images
    background-position: center; // Manages images


    &:before {
        // Makes div height same as width
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }
}
