// Main code goes here
header {
    background-color: #fcdb00;

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        height: 90px; //Padding+image height


        .menu {
            height: 15px;
            cursor: pointer;

        }

        .logoContainer {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;

            img {
                height: 40px;
            }

            p {
                padding-left: 5px;
                font-family: myriad-pro, sans-serif;
                font-size: 20px;
                color: #000;
            }
        }

        .socialContainer {

            img {
                height: 20px;
                padding-left: 24px;
            }

        }
    }
}

section.landing {
    min-height: calc(100vh - 90px); // Header's height subtracted so that header+landing take all screen height
    background-color: #fcdb00;
    position: relative;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        h1 {
            font-size: 45px;

        }

        h3 {
            color: #000;


        }

        .startButton {
            display: block;
            margin: auto;
            margin-top: 35px;
            width: 200px;
            border: 2px solid #000;
            padding: 14px 30px;
            font-family: myriad-pro, sans-serif;
            text-transform: uppercase;
            text-align: center;
        }
    }

    img {
        position: absolute;
        height: 20px;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);

    }
}

section.features {
    min-height: 100vh;


    .container {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 110px auto;
    }

    .feature {
        position: relative; // So I can move the image it contains
        width: 30%;
        margin-top: 90px;
        display: flex;
        text-align: left;

        .featureWrapper {
            margin-left: 35px; // So it does not cover the image
            padding-left: 24px;

            p {
                margin-top: 15px;
            }
        }


        img {
            position: absolute;
            width: 35px;
            left: 0;
        }
    }


}

section.pricing {
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .plan {
        margin-top: 70px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .circle {
            position: relative;
            height: 95px;
            width: 95px;
            border-radius: 50%;
            background-color: #ebebeb;

            img {
                position: absolute;
                height: 35px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            img.inverted {
                filter: invert(100%);
            }
        }

        .circle.black {
            background-color: #000;

        }
    }
}