// Main code goes here
header {
    background-color: #fcdb00;

    .container {
        position: relative;
        align-items: center;
        padding: 50px 0 0 0;
        height: 90px; // Equals padding+image height


        .menu-button {
            height: 15px;
            cursor: pointer;
        }

        .logo-container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;

            @include mobile {
                position: relative; // To cancel out previous positioning of web layout
                left: 0;
                transform: translateX(0);
            }

            img {
                height: 40px;

                @include tablet-portrait {
                    height: 30px;
                }
            }

            p {
                padding-left: 5px;
                font-family: myriad-pro, sans-serif;
                font-size: 20px;
                color: #000;

                @include tablet-portrait {
                    font-size: 16px;

                }
            }
        }

        .social-container {
            @include mobile {
                display: none;
            }

            img {
                height: 20px;
                padding-left: 24px;

                @include tablet-portrait {
                    height: 15px;
                    padding-left: 10px;
                }
            }
        }
    }

    nav {
        display: none;
    }
}

section.landing {
    background-color: #fcdb00;

    .container {
        min-height: calc(100vh - 90px); // Header's height subtracted so that header+landing take all screen height.
        display: flex;
        justify-content: center;
        align-items: center;


        .wrapper {
            width: 490px;

            h1 {
                font-size: 45px;
            }

            h3 {
                color: #000;
                padding: 0;
            }

            .start.button {
                display: block;
                margin: auto;
                margin-top: 35px;
                width: 200px;
                padding: 14px 30px;
            }
        }
    }

    img {
        position: absolute;
        height: 20px;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}

section.features {
    .container {
        .feature {
            position: relative; // So I can move the image it contains
            width: 30%;
            display: flex;
            text-align: left;

            @include mobile {
                width: 100%;
            }

            .feature-wrapper {
                margin-left: 35px; // So it does not cover the image
                padding-left: 20px;

                @include tablet-portrait {
                    margin-left: 25px; // According to img width on this medium
                    padding-left: 0;
                }

                p {
                    margin-top: 15px;
                }
            }

            img {
                position: absolute;
                width: 35px;
                left: 0;

                @include mobile {
                    left: 50%;
                    top: -30px;
                    transform: translateX(-50%, -50%)
                }

                @include tablet-portrait {
                    width: 25px;
                }

                @include mobile {
                    width: 25px;
                }
            }
        }
    }
}

section.pricing {

    .container {


        .plan {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile {
                width: 100%;
            }

            .circle {
                position: relative;
                height: 95px;
                width: 95px;
                border-radius: 50%;
                background-color: #ebebeb;

                img {
                    position: absolute;
                    height: 35px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                img.inverted {
                    filter: invert(100%);
                }
            }

            .circle.black {
                background-color: #000;

            }

            h4.plan-name {
                margin: 20px 0;
            }

            p.plan-description {
                line-height: 1.5;

            }

            h4.price {
                margin-top: 30px;
                text-transform: uppercase;
                font-size: 25px;

                @include mobile {
                    margin-top: 20px;
                }
            }

            .line {
                width: 40px;
                border-bottom: 2px solid #000;
                margin: 3px 0;
            }

            .button {
                margin-top: 30px;
                padding: 15px;
            }
        }
    }
}

section.works {
    .container {

        .work {
            width: 24%;

            @include mobile {
                width: 100%;
            }

            .photo-wrapper {
                display: flex;
                position: relative; // So I can move .left and .right divs according to it.

                .photo-box {
                    @include square-photo;
                }

                &:hover {
                    opacity: 0.5;
                    transition: .3s ease;
                }

                &:hover .left,
                &:hover .right {
                    transition: .3s ease;
                    opacity: 1;
                }

                .left,
                .right {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 10px;

                    @include mobile {
                        font-size: 16px;

                    }
                }

                .left {
                    left: 0;
                }

                .right {
                    right: 0;
                }

                .left img,
                .right img {
                    height: 15px;
                    filter: invert(100%);
                    margin: 0 5px;
                }
            }

            h4,
                {
                margin-top: 20px;
            }

            p {
                margin-top: 10px;
            }
        }

    }
}

section.team {
    .container {

        .member {
            width: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            @include tablet-portrait {
                width: 50%;
            }
        }

        .photo-box {
            @include square-photo;
            width: 80%;
            border-radius: 50%;

            @include tablet-portrait {
                width: 60%;
            }
        }

        h4,
            {
            margin-top: 20px;
        }

        p {
            margin-top: 10px;
        }

        p.small {
            font-size: 14px;
            color: #686d74;
        }

        .social-member-container {
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: center;

            img {
                height: 15px;
                margin: 0 5px;
            }
        }
    }
}

section.stats {

    .container {
        justify-content: space-around;

        .stat {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                height: 40px;
                filter: grayscale(50%);
            }

            h4 {
                margin-top: 20px;
            }
        }

        .testimonial {
            display: flex;
            flex-direction: column;
            align-items: center;

            .photo-wrapper {
                display: flex;
                justify-content: center;
                width: 80%; // To replicate the size of same img used above
                margin-top: 70px;

                @include tablet-portrait {
                    width: 50%; // To replicate the size of same img used above in another medium
                }


                .photo-box {
                    @include square-photo;
                    width: 20%; // To replicate the size of same img used above
                    border-radius: 50%;

                    @include tablet-portrait {
                        width: 60%; // To replicate the size of same img used above in another medium
                    }
                }
            }

            h4 {
                margin-top: 20px;
            }

            p {
                margin-top: 10px;
            }

            .quote {
                margin-top: 20px;
                position: relative;
                width: 70%;

                h3,
                    {
                    margin: 0;
                    padding: 0 10% 0 10%; // Percentages used so that padding adapts to different screen sizes
                }

                img {
                    width: 17px;
                }

                .left-quote {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .right-quote {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }


    }
}

section.contact {
    .container {
        justify-content: space-around;

        @include tablet-portrait {
            flex-direction: column;
            align-items: center;
            width: fit-content;
        }


        .flex-child {
            text-align: center;
            width: 33%;

            @include tablet-portrait {
                width: fit-content;
            }

            address {
                font-style: normal;
                font-family: 'Source Sans Pro', sans-serif;
                color: #898989;
                font-weight: normal;
                text-align: center;
            }

            img {
                height: 25px;
                margin-bottom: 15px;
            }
        }

        form {
            margin: 70px auto 0 auto;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet-portrait {
                width: 100%;
            }

            input,
            textarea {
                border: 2px solid #000;
                width: 100%;
                margin-bottom: 20px;
                padding: 20px;
                font-style: normal;
                font-family: 'Source Sans Pro', sans-serif;
                color: #898989;
                font-weight: 400;
                font-size: 18px;
                resize: none;

                &::placeholder {
                    font-style: normal;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #898989;
                    font-weight: 400;
                    font-size: 18px;
                }
            }

            input[type=submit] {
                width: 200px;
                font-weight: 900;
                text-transform: uppercase;
                color: #ffffff;
                background: #000;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

footer {
    background: #010101;

    .container {

        h2 {
            color: #ffffff
        }

        form {
            margin: 45px auto 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include tablet-portrait {
                flex-direction: column;
                align-items: center;
            }

            input {
                border: 0;
                padding: 20px;
                font-style: normal;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 18px;

                &::placeholder {
                    font-style: normal;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #898989;
                    font-weight: 400;
                }
            }

            input[type=email] {
                width: 80%;
                color: #898989;
                font-weight: 400;
                font-size: 18px;
                border-right: 2px solid black;


                @include tablet-portrait {
                    width: 100%;

                }
            }

            input[type=submit] {
                width: 20%;
                font-weight: 900;
                text-transform: uppercase;
                color: #000000;
                background: #ffffff;


                @include tablet-portrait {
                    width: 200px;
                    margin-top: 20px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }


        .end-wrapper {
            margin-top: 100px;
            width: 100%;
            color: #ffffff;
            font-family: 'Source Sans Pro', sans-serif;
            display: flex;
            justify-content: space-between;
            line-height: 1.5;

            @include mobile {
                font-size: 14px;
            }

            address {
                font-style: normal;
            }

            .flex-child {
                margin-top: 0;
                display: flex;
                flex-direction: column;


            }
        }
    }
}